* {
	font-family: 'Quicksand', sans-serif;
}

body {
	background: #D3D3D3;
}

.main-content {
	margin: 0 auto;
	width: 80%;
	background: #fff;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.75);
	position: relative;
}

#title,
#personal-info {
	width: 50%;
	margin: 0 auto;
}

#title {
	font-size: 35px;
	text-align: center;
}

#personal-info {
	letter-spacing: 1.5px;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

div.header {
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

.career-objective {
	margin-bottom: 40px;
}

.projects-title,
.work-experience-title,
.career-objective-title,
.technical-skills-title,
.references-title {
	font-size: 27px;
	float: left;
	padding: 5px 30px;
	margin: 0 auto;
	background-color: #D3D3D3;
	width: 200px;
}

.projects-title,
.work-experience-title,
.career-objective-title,
.references-title {
	border-right: 1px solid #000;
	margin-bottom: 40px;
}

.technical-skills-title {
	border-left: 1px solid #000;
	margin-bottom: 10px;
}

.career-objective-text {
	padding: 15px;
	float: left;
	width: 60%;
	font-size: 15px;
}

.career-text {
	line-height: 1px;
}

.work-experience-title {
	float: left;
}

.projects-text,
.work-experience-text,
.references-text {
	padding: 0 15px;
	float: left;
	width: 60%;
	font-size: 15px;
}

.work-title {
	font-weight: 700;
	color: #2F3F8D;
}

.work-experience,
.projects,
.references {
	clear: both;
}

.toHide {
	visibility: hidden;
	clear: both;
}

.technical-skills {
	position: absolute;
	right: 0;
	top: 217px;
}

.technical-skills-text {
	padding: 15px;
}

#prev {
	margin-left: 15px;
}

.show-references {
	position: absolute;
	bottom: 5px;
	left: 50%;
}

.references {
	display: none;
}

.divs {
	height: 180px;
	overflow-y: scroll;
}
